<h1>Answer Page</h1>
<div class="parent">
  <div class="child">
    <%=  @question %>
    <p>your question</p>
  </div>
</div>
<div class="parent">
  <div class="child">
    <%= @answer %>
    <p>coach answer</p>
  </div>
</div>
<div class="parent">
  <div class="child">
    <%= link_to "Coach wants to know more", ask_path %>
  </div>
</div>
